[workspace]
members = [
    "apps/cli/*",
    "apps/ui/*",
    "core/*",
    "utils/*"
]
default-members = [
    "apps/cli/*",
    "apps/ui/*",
    "core/*"
]
resolver = "2" # Super duper important for bevy!

[workspace.package]
version = "0.1.0"
authors = ["PikminGuts92"]
edition = "2021"

[workspace.dependencies]
clap = { version = "4.1.4", features = ["derive"] }
grim = { path = "core/grim" }
itertools = "0.10.5"
lazy_static = "1.4.0"
log = "0.4.17"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
simplelog = "0.12.0"
thiserror = "1.0.38"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = true
opt-level = 'z'  # Optimize for size
strip = true
