[package]
name = "grim_macros"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
grim_traits = { path = "../grim_traits" }
lazy_static = { workspace = true }
proc-macro2 = "1.0.50"
quote = "1.0.23"
syn = { version = "1.0.107", default-features = false, features = ["derive"] }
